<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express Basic</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <nav class="navbar">
    <a href="/" class="button home">回到首頁</a>
    <div class="content">
      <a href="/About" class="button about">About</a>
      <a href="/Portfolio" class="button portfolio">Portfolio</a>
      <a href="/Contact" class="button contact">Contact</a>
    </div>
  </nav>
  {{!-- partial templates will replace the part of "body" here --}}
  {{{ body }}}
</body>

</html>