/* 載入字型 */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700");

* {
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 20px auto;
}

.container {
  padding: 10px 30px;
}

.content {
  display: flex;
}

.button {
  margin: 6px;
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  background-color: rgb(210, 210, 210);
  cursor: pointer;
}

.button:not(:last-child) {
  margin-right: 20px;
}