/* 載入字型 */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700");

* {
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}